*{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    padding: 20px;
    justify-content: space-between;
}
.a1 img{
    height: 50px;
    width:20%;
}
.a1{
    display: flex;
    gap: 20px;
}
.a11{
    color: blue;
}
.a1 h2{
    padding-top: 10px;
}
.a2{
    display: flex;
    justify-content: space-between;
}
.a21{
    display: flex;
}
.a21 h1{
    font-size: 35px;
}
.continer{
    display: flex;
}
aside{
    background-color: rgb(29, 29, 88);
    padding: 20px;
}
aside a{
    color: aliceblue;
    text-decoration: none;
    font-weight: bold;
}
aside p{
    padding-bottom: 10px;
}
main{
    flex:1;
    padding: 10px;
    border-top: 1px solid;
}
.b1 {
    padding-top: 500px;
}
.b1 a{
    color: rgb(231, 38, 38);
}
.c1{
    padding: 10px;
}
.c12{
    display: flex;
    justify-content: space-between;
}
.d11{
    display: flex;
    gap:10px;
}
.d1 a{
    color: rgb(0, 255, 170);
}
.d11 img{
    height: 50px;
    width: 30%;
}
.d2 a{
    color: rgb(0, 255, 170);
}
.d21{
    display: flex;
    gap:10px;
}
.d21 img{
    height: 50px;
    width: 30%;
}
.d3 a{
    color: rgb(0, 255, 170);
}
.d31{
    display: flex;
    gap:10px;
}
.d31 img{
    height: 50px;
    width: 30%;
}
.d4 a{
    color: rgb(0, 255, 170);
}
.d41{
    display: flex;
    gap:10px;
}
.d41 img{
    height: 50px;
    width: 30%;
}
.ds{
    display: flex;
    justify-content: space-between;
}
.ds button{
    background-color: blue;
    color: aliceblue;
    padding: 10px;
    border-radius: 5px;
}
.c2{
    padding-top: 20px;
}
table{
    border-spacing: 10px;
    width: 100%;
    margin: 20px 0;
}
td,th{
    padding: 12px 16px;
    text-align: left;
}
footer{
    text-align: center;
    align-items: flex-end;
}